.card {
  width: 159px;
  height: 232px;
  /* gap: 6px; */
  /* border:2px solid red */
}
.img {
  width: 159px;
  height: 170px;
  border-radius: 10px, 10px, 0px, 0px;
}
/* .cardChip{
background-color:var(--color-black);
color: var(--color-white); 
width: Hug (71px);
height: Hug (23px); 
top: 176px;
left: 6px;
padding: 4px, 8px, 4px, 8px;
border-radius: 10px;
gap: 1px;
} */
.albumName{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;

}
.imageCard{
    background-color: var(--color-white);
    border-radius: 10px;
    height: 205px;
}