/* .albumHeader{
    padding: 20px;
    margin-left: 6px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
}

.headingShow{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.toggleText{
    cursor: pointer;
}
.albumSection{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    width:relative;
    height:488px;
    top:48px;
    gap:24px;
} */

/* .carousel-container{
    width:1,353px;
    height:488px;
    top:48px;
    gap:40px;
}
.carousel-css{

} */

.headingShow{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.wrapper{
    margin-top: 18px;
}
.toggleText{
    cursor: pointer;
    color:var(--color-primary)
}

.filterWrapper{
    padding:25px;
    color: white;
}